center
  h1 Luxaura.js
  p.
    Luxaura.js is a simple static site generator built with JavaScript. It has many features:
    
  - var list = ["EJS", "Pug", "Markdown", "Syntax Highlighting", "And much more"]
  each item in list
    li= item
