<title><%= page.title ? `${page.title} • ` : '' %><%= site.title %></title>
<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400">
<link rel="icon" href="/assets/favicon.ico">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="/assets/dashboard/gotrue.js"></script>
<script src="/assets/dashboard/main.js"></script>
