html, body, input, * {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.sidebar {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 0 0;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 256px;
  width: 16rem;
  z-index: 20;
  font-weight: 500;
}

hr {
    width: 100%;
    border-style: solid;
}

.content {
    border-radius: 35px 0 0 0;
    padding: 40px 10px 0 0;
    -webkit-box-shadow: -5px -5px 15px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: -5px -5px 15px -5px rgba(0,0,0,0.5);
    box-shadow: -5px -5px 15px -5px rgba(0,0,0,0.5);
}
