<!DOCTYPE html>
<html>
<body>
<head>
<%- include('../partials/head') %>
</head>
<body>
<%- include('../partials/header') %>
<div class="sidebar">
<%- include('../partials/sidebar') %>
</div>
<%- body %>
</body>
</html>
